---
export type Props = {
  title: string;
  description: string;
  img: ImageMetadata;
  link: string;
};
const { img, title, link, description } = Astro.props;
import { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import arrow from "~/assets/arrow.svg";
---

<a href={link} class="container">
  <Image class="background" src={img} quality={"max"} alt={title} />
  <div class="content">
    <div class="header">
      <h3 class="title">{title}</h3>
      <img
        src={arrow.src}
        class="arrow"
        height={arrow.height}
        width={arrow.width}
        alt=""
      />
    </div>
    <p>{description}</p>
  </div>
</a>
<style>
  .container {
    position: relative;
    color: white;
    aspect-ratio: 1/1;
  }
  img.background {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
  }
  .content {
    position: absolute;
    bottom: 5%;
    height: 9rem;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 0.6rem 1.2rem;
    flex-direction: column;
  }
  span {
    font-family: Ysabeau;
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 150%;
  }
  .title {
    font-weight: 700;
    line-height: unset;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
  p {
    font-weight: 400;
    font-size: 1rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container:hover {
    .arrow {
      animation: bounce 0.8s ease-in-out;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateX(0);
    }
    30%,
    70% {
      transform: translateX(15px);
    }
    50% {
      transform: translateX(-15px);
    }
  }
</style>
