---
import Project from "./Project.astro";
import ComingSoon from "./ComingSoon.astro";
import Section from "../Section.astro";
import { getEntry } from "astro:content";
import { getLangFromUrl } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const portfolio = await getEntry("portfolio", `${lang}/data`);
const { projects } = portfolio.data;
---

<Section>
  <div class="container">
    {
      projects.reverse().map((project) => {
        return (
          <Project
            title={project.name}
            img={project.img}
            description={project.description}
            link={project.href}
          />
        );
      })
    }
    <ComingSoon />
  </div>
</Section>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    margin-bottom: 1.2rem;
  }
  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
</style>
