---
import "@fontsource/jost/100.css";
import "@fontsource/jost/200.css";
import "@fontsource/jost/300.css";
import "@fontsource/jost/400.css";
import "@fontsource/jost/500.css";
import "@fontsource/jost/600.css";
import "@fontsource/jost/700.css";
import "@fontsource/jost/800.css";
import "@fontsource/jost/900.css";
import CaseLayout, {
  type Slug,
  type SlugLang,
} from "../../layouts/CaseLayout.astro";
import { getCollection, getEntry } from "astro:content";
import Section from "../../components/Section.astro";
import H2 from "../../components/Cases/H2.astro";
import H3 from "../../components/Cases/H3.astro";
import P from "../../components/Cases/P.astro";
import ContentTable from "../../components/Cases/ContentTable";
import Hero from "../../components/Cases/Hero/Hero.astro";
import { getLangFromUrl } from "../../i18n/utils";
import ThanksForAttention from "../../components/Cases/ThanksForAttention.astro";
const lang = getLangFromUrl(Astro.url);

export async function getStaticPaths() {
  const blogEntries = await getCollection("cases");
  return blogEntries.map((entry) => {
    let [, rest] = entry.slug.split("/");
    return {
      params: { id: rest },
      props: { entry },
    };
  });
}

const { id } = Astro.params as { id: SlugLang<Slug> };
const entry = await getEntry({
  collection: "cases",
  slug: `${lang}/${id}`,
});
const { title, description, figmaUrl, behanceUrl, heroImg } = entry.data;
const { Content } = await entry.render();
---

<CaseLayout title={`Case: ${title}`}>
  <ContentTable client:media="(min-width: 768px)" />
  <Section>
    <article>
      <Hero
        img={heroImg}
        behanceUrl={behanceUrl}
        figmaUrl={figmaUrl}
        title={title}
        description={description}
      />
      <Content
        components={{
          h2: H2,
          h3: H3,
          p: P,
        }}
      />
      <ThanksForAttention />
    </article>
  </Section>
</CaseLayout>

<style>
  article {
    margin-right: 20rem;
  }
  @media (max-width: 768px) {
    article {
      margin-right: 0rem;
    }
  }
</style>
