---
import { ImageMetadata } from "astro";
import Links from "./Links.astro";
export type Props = {
  title?: string;
  description: string;
  prototypeUrl: string;
  img: ImageMetadata;
  behanceUrl: string;
  figmaUrl: string;
};

const { title, description, prototypeUrl, img, behanceUrl, figmaUrl } =
  Astro.props;
---

<div class="container">
  <div class="content">
    <div class="title-section">
      {title && <h1 class="title">{title}</h1>}
      <p class="description">{description}</p>
    </div>
    <Links
      prototypeUrl={prototypeUrl}
      behanceUrl={behanceUrl}
      figmaUrl={figmaUrl}
    />
  </div>
  <div class="img-container">
    <img
      class="img"
      height={img.height}
      width={img.width}
      src={img.src}
      alt=""
    />
  </div>
</div>
<div class="footer full-bleed"></div>

<style>
  .container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 40% 60%;
  }
  .content {
    display: flex;
    z-index: 10;
    flex-direction: column;
    gap: 2rem;
  }
  .title-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .title {
    font-size: 5rem;
    font-weight: 800;
  }
  .description {
    font-size: 2.1875rem;
    font-weight: 400;
  }
  .img-container {
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .img {
    display: block;
    max-width: 100%;
    height: fit-content;
  }
  .footer {
    height: 1rem;
    background-color: black;
  }
  @media (max-width: 1280px) {
    .title {
      font-size: 3rem;
    }
    .description {
      font-size: 1.75rem;
    }
    .container {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
</style>
