---
import { getEntry } from "astro:content";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const portfolio = await getEntry("portfolio", `${lang}/data`);
const { hardSkills } = portfolio.data;
---

<div class="container">
  <span class="title">{t("skills.uxexploration")}</span>
  {hardSkills.UXResearchSkills.map((item) => <span class="text">{item}</span>)}
  <span class="title">{t("skills.uxdesign")}</span>
  {hardSkills.UXDesignSkills.map((item) => <span class="text">{item}</span>)}
  <span class="title">{t("skills.uidesign")}</span>
  {hardSkills.UIDesignSkills.map((item) => <span class="text">{item}</span>)}
  <span class="title framework">{t("skills.frameworks")}</span>
  {
    hardSkills.frameworkSkills.map((item) => (
      <span class="text framework">{item.name}</span>
    ))
  }
  <span class="title">{t("skills.productmanagment")}</span>
  {
    hardSkills.productManagmentSkills.map((item) => (
      <span class="text">{item}</span>
    ))
  }
</div>

<style>
  .container {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: white;
    padding: 2.5rem;
    margin-right: 1.2rem;
  }
  .title {
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 1.3rem;
  }
  .text {
    font-weight: 400;
    color: #939393;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
  .framework {
    display: none;
  }
  @media (max-width: 768px) {
    .container {
      margin-right: 0;
    }
  }
  @media (max-width: 1280px) {
    .framework {
      display: block;
    }
  }
</style>
