---
import { getEntry } from "astro:content";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Icon from "./Icon.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const portfolio = await getEntry("portfolio", `${lang}/data`);
const { socials, resumeUrl } = portfolio.data;
---

<div class="contacts">
  <div class="icons">
    <Icon image={socials.telegram.icon!} href={socials.telegram.href} />
    <Icon image={socials.instagram.icon!} href={socials.instagram.href} />
    <Icon image={socials.linkedin.icon!} href={socials.linkedin.href} />
  </div>
  <a class="resume" href={resumeUrl} target="_blank" rel="noreferrer"
    >{t("hero.resume")}</a
  >
</div>

<style>
  .contacts {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    gap: 1.5rem;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }
  .resume {
    padding: 0.6rem 1.2rem;
    white-space: nowrap;
    border-radius: 9999px;
    text-align: center;
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.3rem;
    background-color: black;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  .resume:hover {
    background-color: var(--accent);
    color: black;
  }
  @media (max-width: 1280px) {
    .contacts {
      flex-direction: column;
    }
  }
  @media (max-width: 768px) {
    .contacts {
      justify-content: start;
      align-items: center;
    }
    .resume {
      width: 100%;
    }
    .icons {
      justify-content: space-between;
      gap: 1rem;
      align-items: stretch;
    }
  }
</style>
