---
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/ysabeau/100.css";
import "@fontsource/ysabeau/200.css";
import "@fontsource/ysabeau/300.css";
import "@fontsource/ysabeau/400.css";
import "@fontsource/ysabeau/500.css";
import "@fontsource/ysabeau/600.css";
import "@fontsource/ysabeau/700.css";
import "@fontsource/ysabeau/800.css";
import "@fontsource/ysabeau/900.css";
import "@fontsource/montserrat/100.css";
import "@fontsource/montserrat/200.css";
import "@fontsource/montserrat/300.css";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/600.css";
import "@fontsource/montserrat/700.css";
import "@fontsource/montserrat/800.css";
import "@fontsource/montserrat/900.css";
import { getLangFromUrl } from "../i18n/utils";
import { getEntry, type CollectionEntry } from "astro:content";
import Analytics from "../components/Analytics";
import BaseHead from "../components/BaseHead.astro";
export type Slug = CollectionEntry<"cases">["slug"];
export type SlugLang<T> = T extends `${typeof lang}/${infer U}` ? U : never;
const lang = getLangFromUrl(Astro.url);
const { id } = Astro.params as { id: SlugLang<Slug> };
const entry = await getEntry({
  collection: "cases",
  slug: `${lang}/${id}`,
});
const { description, title: projectTitle } = entry.data;
---

<!doctype html>
<html lang={lang}>
  <BaseHead
    title={projectTitle}
    description={description}
    additionalKeywords={[projectTitle]}
  />
  <body>
    <Analytics client:only />
    <Header isSticky />
    <slot />
    <Footer />
    <style is:global>
      p {
        min-width: 25rem;
      }
      ul > li::before {
        content: "\2022";
        font-size: 1.5rem;
        position: absolute;
        left: -1rem;
      }
      ul > li {
        position: relative;
        line-height: 1.5rem;
        margin-left: 1rem;
      }
      ul {
        list-style: none;
      }
      ol {
        padding-left: 1rem;
      }
      ol > li {
        margin: 0.5rem 0;
        line-height: 1.5rem;
      }
      h2 {
        font-size: 3.75rem;
      }
      h4 {
        font-size: 2.25rem;
      }
      img {
        display: block;
        height: fit-content;
        max-width: 100%;
        object-fit: scale-down;
      }
      @media (max-width: 768px) {
        p {
          min-width: 15rem;
        }
        h2 {
          font-size: 2.5rem;
        }
        h3 {
          font-size: 1.5rem;
        }
      }
    </style>
  </body>
</html>
